* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  align-items: center;
  background-image: url('../src/assets/bg.webp');
  background-size: cover; 
  display: flex;
  height: 100vh;
  justify-content: center;
}

